@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* 
font-family: 'Raleway', sans-serif;
 */

 


/* root styling */



:root{
    --light:#fff5ee;
    --secondary:#e0bfb8;
    --dark:#673147;
    --primary-color:#F8C8DC;
    --seconary-color:#FF69B4;
    --border:#D8BFD8;
}



body{
    font-family:'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}


/* global styling */


.text-light{
    color:var(--light)  
}
.text-secondary{
    color:var(--secondary)
}
.text-dark{
    color:var(--dark)
}
.text-primary-color{
    color:var(--primary-color)
}
.text-secondary-color{
    color:var(--seconary-color)
}
.text-border{
    color:var(--border)
}

.container{
    max-width:1200px;
    padding: 0 15px;
    margin: auto;
}

.img-fluid{
    width:100%
}

.text-title{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.secondary-title{
    font-family:Impact, Haettenschweiler, 'Arial Narrow', sans-serif
}

.display-1{
    font-size:22px;
}

.display-2{
    font-size:16px;
}

.display-3{
    font-size:14px;
}

.text-center{
    text-align: center;
}

.toggle-button{
    font: size 21px;
    background-color: transparent;
    border:none;
    position:absolute;
    right:0;
    margin:8px 10px;
}

.toggle-button:focus{
    outline:none;
}

.search-box{
    display:inline;
    border-right:1px solid var(--seconary-color);
    padding-right: 12px;
    margin-right: 10px;
}

.nav-link:hover{
    color:var(--primary-color)
}

/* --Navigation Menu-- */

.navbar{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.nav-brand{
    font-family:'Raleway', sans-serif;
    font-weight: bold;
    align-self: center;
    font-size: 32px;
}

.collapse{
    align-self:center;
}

.nav-link{
    font-size: 16px;
    margin: 12px;
    color: var(--dark);
    font-family: 'Raleway', sans-serif;
}

/* --.Navigation Menu-- */

/* Media Q */
@media(max-width:574px){
    .toggle-button{ 
        display:initial;    
    }
}

@media(max-width:992px){
    .navbar{ 
        flex-direction:column   
    }


    .collapse.nav:link{
        display:block;
        text-align:center;
    }
}

/* ---Main Section--- */

#site-main{
    margin-top: 8em;
}

#posts{
    margin-bottom: 5em;
}
.grid{
    margin:0 auto;
}
.grid .grid-item{
    width:calc(33.3333% - 20px);
    margin-bottom:3em
}



/* ---.Main Section--- */

/* --lucky page-- */
.images{
    max-width:1200px;
    padding: 0 15px;
    margin: auto;
}


  /* --.lucky page-- */